<template>
  <div id="myDiv">
    <svg>{{ create }}</svg>
  </div>
</template>

<script>
import Plotly from "plotly.js/dist/plotly";

export default {
  name: "plotlygraph",
  methods: {
    create() {
      var trace1 = {
        x: [1, 2, 3, 4],
        y: [10, 15, 13, 17],
        mode: "markers",
        type: "scatter"
      };

      var trace2 = {
        x: [2, 3, 4, 5],
        y: [16, 5, 11, 9],
        mode: "markers",
        type: "scatter"
      };

      var trace3 = {
        x: [1, 2, 3, 4],
        y: [12, 9, 15, 12],
        mode: "markers",
        type: "scatter"
      };

      var data = [trace1, trace2, trace3];
      var chart = Plotly.newPlot(data);
      return chart;
    }
  }
};
</script>

<style>
.plotlygraph {
  margin-left: auto;
  margin-right: auto;
}
</style>
