<template>
  <div id="app">
    <v-app>
      <v-content>
        <v-container grid-list-md text-xs-left>
          <v-layout row>
            <v-flex xs12>
              <p class="display-2 text-center ">
                Visualizing the Iris Dataset with Plotly.js
              </p>
              <v-flex xs6 style="margin: 10px">
                <v-select
                  :items="chartItems"
                  item-text="itemText"
                  return-object
                  label="Choose chart"
                  dense
                  outlined
                  @input="choseChartType"
                ></v-select>
              </v-flex>
            </v-flex>

            <v-flex xs12 style="margin-top: 5px">
              <vue-plotly
                :data="chartData"
                :layout="layout"
                :options="options"
              />
            </v-flex>

            <v-col cols="12">
              <v-row justify="center">
                <v-col cols="6" sm="6">
                  <v-select
                    v-model="xaxis"
                    :items="dimensions"
                    label="Choose dimension for x-axis "
                    dense
                    outlined
                  ></v-select>
                </v-col>

                <v-col cols="6" sm="6">
                  <v-select
                    v-model="yaxis"
                    :items="dimensions"
                    label="Choose dimension for y-axis "
                    dense
                    outlined
                  ></v-select>
                </v-col>
              </v-row>
            </v-col>
          </v-layout>
        </v-container>
      </v-content>
    </v-app>
  </div>
</template>
<script>
import VuePlotly from "@statnett/vue-plotly";

export default {
  components: {
    VuePlotly
  },
  data: function() {
    return {
      xaxis: "sepalLenght",
      yaxis: "sepalWidth",
      chartType: "null",
      chartItems: [
        { itemValue: "scatterPlot", itemText: "Scatter Plot" },
        { itemValue: "barChart", itemText: "Bar Chart" }
      ],
      dimensions: [
        "Sepal Length",
        "Petal Length",
        "Sepal Width",
        "Petal Width"
      ],

      chartData: [
        {
          mode: "markers",
          type: "scatter",
          x: [
            5.1,
            4.9,
            4.7,
            4.6,
            5.0,
            5.4,
            4.6,
            5.0,
            4.4,
            4.9,
            5.4,
            4.8,
            4.8,
            4.3,
            5.8,
            5.7,
            5.4,
            5.1,
            5.7,
            5.1,
            5.4,
            5.1,
            4.6,
            5.1,
            4.8,
            5.0,
            5.0,
            5.2,
            5.2,
            4.7,
            4.8,
            5.4,
            5.2,
            5.5,
            4.9,
            5.0,
            5.5,
            4.9,
            4.4,
            5.1,
            5.0,
            4.5,
            4.4,
            5.0,
            5.1,
            4.8,
            5.1,
            4.6,
            5.3,
            5.0,
            7.0,
            6.4,
            6.9,
            5.5,
            6.5,
            5.7,
            6.3,
            4.9,
            6.6,
            5.2,
            5.0,
            5.9,
            6.0,
            6.1,
            5.6,
            6.7,
            5.6,
            5.8,
            6.2,
            5.6,
            5.9,
            6.1,
            6.3,
            6.1,
            6.4,
            6.6,
            6.8,
            6.7,
            6.0,
            5.7,
            5.5,
            5.5,
            5.8,
            6.0,
            5.4,
            6.0,
            6.7,
            6.3,
            5.6,
            5.5,
            5.5,
            6.1,
            5.8,
            5.0,
            5.6,
            5.7,
            5.7,
            6.2,
            5.1,
            5.7,
            6.3,
            5.8,
            7.1,
            6.3,
            6.5,
            7.6,
            4.9,
            7.3,
            6.7,
            7.2,
            6.5,
            6.4,
            6.8,
            5.7,
            5.8,
            6.4,
            6.5,
            7.7,
            7.7,
            6.0,
            6.9,
            5.6,
            7.7,
            6.3,
            6.7,
            7.2,
            6.2,
            6.1,
            6.4,
            7.2,
            7.4,
            7.9,
            6.4,
            6.3,
            6.1,
            7.7,
            6.3,
            6.4,
            6.0,
            6.9,
            6.7,
            6.9,
            5.8,
            6.8,
            6.7,
            6.7,
            6.3,
            6.5,
            6.2,
            5.9
          ],
          y: [
            3.5,
            3.0,
            3.2,
            3.1,
            3.6,
            3.9,
            3.4,
            3.4,
            2.9,
            3.1,
            3.7,
            3.4,
            3.0,
            3.0,
            4.0,
            4.4,
            3.9,
            3.5,
            3.8,
            3.8,
            3.4,
            3.7,
            3.6,
            3.3,
            3.4,
            3.0,
            3.4,
            3.5,
            3.4,
            3.2,
            3.1,
            3.4,
            4.1,
            4.2,
            3.1,
            3.2,
            3.5,
            3.1,
            3.0,
            3.4,
            3.5,
            2.3,
            3.2,
            3.5,
            3.8,
            3.0,
            3.8,
            3.2,
            3.7,
            3.3,
            3.2,
            3.2,
            3.1,
            2.3,
            2.8,
            2.8,
            3.3,
            2.4,
            2.9,
            2.7,
            2.0,
            3.0,
            2.2,
            2.9,
            2.9,
            3.1,
            3.0,
            2.7,
            2.2,
            2.5,
            3.2,
            2.8,
            2.5,
            2.8,
            2.9,
            3.0,
            2.8,
            3.0,
            2.9,
            2.6,
            2.4,
            2.4,
            2.7,
            2.7,
            3.0,
            3.4,
            3.1,
            2.3,
            3.0,
            2.5,
            2.6,
            3.0,
            2.6,
            2.3,
            2.7,
            3.0,
            2.9,
            2.9,
            2.5,
            2.8,
            3.3,
            2.7,
            3.0,
            2.9,
            3.0,
            3.0,
            2.5,
            2.9,
            2.5,
            3.6,
            3.2,
            2.7,
            3.0,
            2.5,
            2.8,
            3.2,
            3.0,
            3.8,
            2.6,
            2.2,
            3.2,
            2.8,
            2.8,
            2.7,
            3.3,
            3.2,
            2.8,
            3.0,
            2.8,
            3.0,
            2.8,
            3.8,
            2.8,
            2.8,
            2.6,
            3.0,
            3.4,
            3.1,
            3.0,
            3.1,
            3.1,
            3.1,
            2.7,
            3.2,
            3.3,
            3.0,
            2.5,
            3.0,
            3.4,
            3.0
          ],
          marker: { color: "red" }
        }
      ],
      layout: {
        title: "Sepal.Length vs Sepal.Width",
        xaxis: { title: "Sepal.Length" },
        yaxis: { title: "Sepal.Width" }
      },
      options: {}
    };
  },
  methods: {
    choseChartType() {}
  }
};
</script>

<style></style>
